@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Krona+One&display=swap');

*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: "Krona One", sans-serif;
}
body{
    width: 100%;
    background-color: #121212;
}
body header{
    background-color: #121212;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    box-shadow: rgba(252, 252, 252, 0.1) 0px 0px 12px;
    position: fixed;
    top: 0;
}
body header .logo img{
    width: 10%;
}
main{
    width: 100%;
    height: 100vh;
}
main #product{
    margin-top: 10vh;
    display: flex;
}
main #product .info-01{
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}
main #product .info-01 h1{
    color: #EDEDED;
}
main #product .info-01 span{
    color: #cccccc70;
    font-size: .7rem;
}
main #product .item{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main #product .item img{
    width: 70%;
} 
main #product .info-02{
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}
main #product .info-02 .text{
    color: #9EFF00;
}
main #product .info-02 .button{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}